<ul class="thumbnails">
  {{ _.each(posts,function(post,key){  }}
  <li class="span4">
    <div class="thumbnail">
       <div   id="car{{=key}}" class="carousel " style="max-height:200px;height:200px;">
        {{ if(!_.isEmpty(post.files) ){ }}
        <div class="carousel-inner">
    {{_.each(post.files,function(file,key) { }}
        <div class="thumbnail item {{if (key==0){ }} active {{ } }}"> 
          <img width="125" height="100" src="{{=file.url}}" class="imgs" alt="">
      </div>
     
    {{ }); }}
       </div>
       <!-- Carousel nav -->
<a class="carousel-control left" href="#car{{=key}}" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#car{{=key}}" data-slide="next">&rsaquo;</a>
 
       {{ } }}
            </div>
      <h3>
        <a href="#post/edit/{{=post._id.$id }}">{{=post.title}}</a>   
      </h3>
      <p>{{=post.content}}</p>
    </div>
  </li>
  {{ }); }}  
   {{if(_.isEmpty(posts) ){ }}
  <li class="span4">目前沒有任何資料!!</li>
  {{ } }}
</ul>

 {{if (page_count>0) { }}
<div class="pagination">
  <ul>
  {{_.each(_.range(1,page_count+1),function(i) {   }}
    <li  {{if (now_page == i){  }}class="disabled" {{ }  }} >
     <a class="page_item" href="{{=page_pre_href}}{{=i}}">{{=i}}</a>
    </li>
  {{  }); }}
  </ul>
</div>
{{  } }}

 